* {
    margin: auto;
    padding: 0;
    box-sizing: border-box;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

#btn-menu {
    display: none;
}
 
.menu-mobile {
     background-color: #8c52ff;
     height: 100vh;
     position: fixed;
     top: 0;
     right: 0;
     z-index: 99999;
     width: 0%;
     overflow: hidden;
     transition: .5s;
}
 
 .menu-mobile.abrir-menu {
     width: 70%;
}
 
 
 .menu-mobile.abrir-menu ~ .overlay-menu {
     display: block;
}
 
 
 
 .menu-mobile .btn-fechar  {
     padding: 20px 5%;
}
 
 .menu-mobile .btn-fechar i {
     color: white;
     font-size: 30px;
}
 
 .menu-mobile nav ul {
     text-align: center;
}
 
 .menu-mobile nav ul li a  {
     color: #fff;
     font-size: 20px;
     font-weight: 300;
     padding: 20px 5%;
     display: block;
}

 
 .overlay-menu{
     background-color: rgba(0, 0, 0, 0.493);
     width: 100%;
     height: 100%;
     position: fixed;
     top: 0;
     left: 0;
     z-index: 88888;
     display: none;
}


.whatsapp-link {
    position: fixed;
    width: 60px;
    height: 60px;
    bottom: 40px;
    right: 40px;
    background-color: green;
    color: white;
    border-radius: 50px;
    text-align: center;
    font-size: 30px;
    box-shadow: 1px 1px 2px #888;
    z-index: 1000;
}

.whatsapp-link:before, .whatsapp-link::after {
    content: '';
    display: block;
    position: absolute;
    left: -10px;
    right: -10px;
    top: -10px;
    bottom: -10px;
    border-radius: 50%;
    border: 2px solid green;
    animation: animar 1.5s linear infinite;
}

.whatsapp-link::after {
    animation-delay: .5s;
}

@keyframes animar {
    0% {
        transform: scale(0.5);
        opacity: 0;
    }
    50% {
        opacity: 1;

    }
    100% {
        transform: scale(1.2);
        opacity: 0;

    }
    
}


.fa-whatsapp {
    margin-top: 16px;
}


header {
    background-color: #8c52ff;
    display: flex;
    align-items: center;
    justify-content: space-between;

}

header img {
    width: 150px;
    height: auto;
    margin-bottom: 20px;
}

header nav ul li{
    display: inline-block;
    padding: 0 40px;
}

header a {
    margin-top: 10px;
    color: white;
    font-size: 20px;
    font-weight: bold;
    text-decoration: none;
    display: inline-block;
    transition: .2s;
}

header a:hover {
    color: pink;
    transform: scale(1.08);
}

.introducao {
    background-image: url(imagemdefundo.jpg);
    background-color: #270075;
    background-blend-mode: overlay;
    background-position: center;
    background-repeat: no-repeat;
    text-align: center;
    background-attachment: scroll;
    background-size: cover;
    height: 500px;
}

.introducao h1 {
    color: white;
    text-align: center;
    padding: 70px 50px;
}

.introducao p {
    color: white;
    text-align: center;
    font-size: 18px;
    font-weight: bold;
    padding: 40px 50px;
}

.introducao button a {
    color: #8c52ff;
    text-decoration: none;
}

.introducao button {
    color: #4d2afa;
    font-size: 15px;
    font-weight: bold;
    margin: 30px;
    padding: 13px;
    border-radius: 8px;
    cursor: pointer;
    transition: .2s;
}


.introducao button:hover {
    box-shadow: 0px 0px 8px rgb(207, 12, 181);
    transform: scale(1.05);
    color: rgb(199, 32, 221);
    transition: 0.5s;
}



.sobre {
    display: flex;
    align-items: center;
}

.sobre img {
    box-shadow: -40px 30px 0 #8c52ff;
    border: 2px solid white;
    border-radius: 10px;
    width: 350px;
    height: auto;
    margin-top: 100px;
    margin-left: 150px;
    margin-bottom: 100px;
    margin-right: -30px;
}

.sobre p {
    margin: 80px 150px;
    font-size: 20px;
    color: black;
}

.servicos {
    width: 100%;
}

.servicos h1 {
    text-align: center;
    text-decoration: underline;
    color: #8c52ff;
    padding-top: 90px;
    padding-bottom: 20px;
}

.conteiner {
    display: flex;
    justify-content: space-between;
    gap: 20px;
    padding: 50px 0;
}

.servico {
    box-shadow: 10px 10px 10px #8c52ff;
    background-color: #8c52ff;
    border-radius: 10px;
    width: 400px;
    height: 300px;
}

.servico h3 {
    text-align: center;
    font-size: 25px;
    font-weight: bold;
    padding-top: 130px;
    color: white;
}

#um {
    background-image: url(servico-um.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-color: #350891;
    background-blend-mode: overlay;
}

#dois {
    background-image: url(tres.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: right;
    background-color: #350891;
    background-blend-mode: overlay;
}

#tres {
    background-image: url(img.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-color: #350891;
    background-blend-mode: overlay;
}

.qualidade {
    margin-top: 100px;
    background-color: #8c52ff;
}

.qualidade h1 {
    color: white;
    padding-bottom: 20px;
}

.layout {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding-bottom: 50px;
    background-color: #8c52ff;
}

.layout img {
    box-shadow: 30px 30px 10px white;
    border: 4px solid white;
    border-radius: 10px;
    width: 300px;
    height: auto;
    margin-top: 70px;
    margin-left: 150px;
    margin-bottom: 150px;
    margin-right: -30px;
}

.layout ul li {
    color: white;
    padding-left: 60px;
    padding-bottom: 40px;
    font-size: 20px;
}

.layout ul li span {
    color: pink;
}

.frase {
    height: 150px;
    text-align: center;
}

.frase h3 {
    padding-top: 60px;
    font-size: 20px;
    color: #8c52ff;
}

footer {
    text-align: center;
    background-color: #8c52ff;
}

footer p {
    color: white;
    padding: 20px;
}

footer .final {
    background-color: #8c52ff;
    padding-top: 40px;
    display: flex;
    justify-content: space-between;
    text-align: center;
    padding-top: 60px;
    height: 300px;
}

footer a {
    color: white;
    text-decoration: none;
    font-size: 20px;
    transition: .2s;
}

footer a:hover {
    color: pink;
    transform: scale(1.08);
}

footer img {
    width: 150px;
}

@media (min-width: 768px) and (max-width: 1280px) {
    #btn-menu {
        display: flex;
        color: white;
        margin-right: 60px;
    }

    
    header {
        background-color: #8c52ff;
        align-items: center;
        justify-content: space-between;
    }

    header nav.menu-desktop {
        display: none;
    }

    .btn-abrir-menu {
        display: block;
        color: black;
        font-size: 40px;
    }

    header nav ul {
        display: flex;
        flex-direction: column; 
        padding: 0;
        margin: 0;
    }

    header nav ul li {
        padding: 10px 0;
        text-align: center;
    }

    header a {
        font-size: 18px; 
        margin-bottom: 10px;
    }

    
    .introducao {
        height: 600px;
    }

    .introducao p {
        font-size: 20px;
        text-align: left;
        padding: 20px 80px;
    }

    
    .sobre {
        flex-direction: column; /* Coloca a imagem e o texto em coluna */
        align-items: center;
        margin-top: 40px;
        margin-right: 200px;
    }

    .sobre p {
        font-size: 30px; /* Ajusta o tamanho da fonte */
        margin: 20px 5px 100px 180px;
        text-align: left;
    }

    .qualidade h1 {
        font-size: 30px;
        padding: 45px;

    }

    .layout {
        grid-template-columns: 1fr; /* Coloca tudo em uma coluna */
    }

    
    .layout ul li {
        padding: 30px 30px 20px 60px;
    }

       
    .layout img {
        width: 50%; /* Ajusta o tamanho das imagens */
        margin: 55px 40px 50px 190px;
    }

    .conteiner {
        flex-direction: column; /* Coloca os cartões em coluna */
        align-items: center;
        padding: 40px;
    }

    
    .servico {
        width: 90%;
        margin: 15px;
    }

   
}

@media (min-width: 360px) and (max-width: 767px) {
    
    #btn-menu {
        display: flex;
        color: white;
        margin-right: 30px;
    }

    header {
        background-color: #8c52ff;
        display: grid;
        grid-template-columns: 1fr 1fr;
        align-items: center;
        justify-content: space-between;
    }

    
    header nav.menu-desktop {
        display: none;
    }

    .btn-abrir-menu {
        display: block;
        color: black;
        font-size: 40px;
    }

    
    header nav ul {
        display: flex;
        flex-direction: column; /* Itens do menu ficam empilhados */
        padding: 0;
        margin: 0;
    }

    header nav ul li {
        padding: 10px 0;
        text-align: center;
    }

    header a {
        font-size: 18px; /* Tamanho da fonte ajustado */
        margin-bottom: 10px;

    }

    .introducao {
        height: 800px;
    }

    .introducao p {
        text-align: left;
        padding-top: 15px;
    }

    .sobre {
        flex-direction: column; /* Coloca a imagem e o texto em coluna */
        align-items: center;
        margin-top: 20px;
    }

    .sobre img {
        width: 250px; /* Ajusta o tamanho da imagem */
        margin-left: 30px; /* Ajuste de margem */
        margin-right: 0;
    }

    .sobre p {
        font-size: 20px; /* Ajusta o tamanho da fonte */
        margin: 20px 30px 100px 40px;
        text-align: left;
    }

    .servicos h1 {
        font-size: 28px;
        padding: 20px 0;
    }

    
    .servicos h3 {
        font-size: 20px; /* Ajusta o tamanho da fonte */
        font-weight: bold;
        margin-bottom: 30px;
    }

    .conteiner {
        flex-direction: column; /* Coloca os cartões em coluna */
        align-items: center;
        padding: 20px;
    }

    .servico {
        width: 90%;
        margin: 15px;
    }

    .qualidade h1 {
        font-size: 20px;
        padding: 35px;

    }

    .layout {
        grid-template-columns: 1fr; /* Coloca tudo em uma coluna */
    }

    .layout ul li {
        padding: 30px 20px 20px 40px;
    }

    
    .layout img {
        box-shadow: none;
        width: 80%; /* Ajusta o tamanho das imagens */
        margin: 20px 35px;
    }

    footer .final {
        flex-direction: column; /* Organiza os itens do footer em coluna */
        align-items: center;
        height: auto; /* Ajuste da altura */
    }

    footer img {
        padding-bottom: 50px;
    }

    footer a {
       font-size: 20px;
       padding-bottom: 30px;
    }

    

}

